.login{
    background-image: url(../../Images/srmcollege.png);
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navclass {
      height: 3rem;
      width: 3rem;
      color: #fff;
  }
  
  
  .container{
    position: absolute;
    max-width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%,-50%);
    
  }
  .container-regis{
    position: absolute;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%,-50%);
  }
  
  .myLeftCtn{
    position: relative;
    background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  /* background: rgba(10,10,10,0.05);
  backdrop-filter: blur(40px); */
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  color: white;
  font-size:12px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .myRightCtn{
    position: relative;
    /* background: rgba(10,10,10,0.05);
    backdrop-filter: blur(40px); */
    background: white;
    border-radius: 25px;
  
    border-left: none;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }
  .myRightCtn header{
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .row{
    height: 100%;
  }
  
  .myCard{
    position: relative;
    /* background: rgba(10,10,10,0.05);
    backdrop-filter: blur(80px); */
    background: white;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
  }
  .myLeftCtn header{
    color: #fff;
    font-size: 44px;
  }
  
  .box{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
  }
  
  .myRightCtn .myInput{
    width: 90%;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 40px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
  }
  .myRightCtn .myInput:focus{
    outline:none;
  }
  .red{
    color: red;
  }
  .myForm{
    position: relative;
    margin-top: 50px;
  }
  .myRightCtn .butt{
    background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  color: white;
  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
  }
  .myRightCtn .butt:hover{
    background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  }
  
  .myRightCtn .butt:focus{
    outline: none;
  }
  
  .myRightCtn .fas{
    position: relative;
    left:36px;
  }
  .fa-envelope{
    position: relative;
    left:45px; 
  }
  .myRightCtn .far{
    position: relative;
    left:36px;
  }
  .butt_out{
    background: transparent;
    color: white;
    width: 120px;
    border: 2px solid #fff;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
  }
  