.aavesh-btn {
	position: relative;
	z-index: 1;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	color: #fff;
	box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
	border: none;
	padding: 10px 40px;
	border-radius: 0;
	transition: all ease-in 0.35s;
	text-align: center;
	vertical-align: middle;
	line-height: 1.5;
}
.aavesh-btn-text {
	position: relative;
	z-index: 2;
}
.aavesh-btn::after,
.aavesh-btn::before {
	position: absolute;
	content: "";
	top: 0;
	width: 0;
	height: 100%;
	background: #ff003b;
	transition: all 0.35s;
	width: 50.5%;
}
.aavesh-btn::after {
	right: 0;
}
.aavesh-btn::before {
	left: 0;
}
.aavesh-btn:hover {
	background: #0d1028;
	box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
	color: #fff;
	border-color: #0062cc;
	text-decoration: none;
}
.aavesh-btn:hover::after,
.aavesh-btn:hover::before {
	width: 0;
}
