.regis-inputgroup-profile>input{
    outline: none !important;
    border-bottom: none !important;
}
.regis-inputgroup-profile>input:disabled{
    opacity: 1;
    color: black;
}
.regis-inputgroup-profile>select{
    outline: none !important;
    border-bottom: none !important;
}
.regis-inputgroup-profile>textarea{
    outline: none !important;
    border: none !important;
}
.regis-inputgroup-profile>label>span{
   opacity: 0;
}
.regis-inputgroup-profile>textarea:disabled{
    opacity: 1;
    color: black;

}

.user-profile{
    background-color: #fff;
    height: 90%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    overflow-y: auto;
}