.groups-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.groups-box {
  width: 100%;
  height: 90%;
  padding: 2rem 0;
  display: flex;
  flex-flow: column;
}
.groups-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
}
.groups-add {
  width: 95%;
  margin: 1rem auto;
}
.groups-group {
  width: 90%;
  height: 15rem;
  background-color: var(--bgcolor);
  border-radius: 8px;
  padding: 0.75rem;
  overflow: hidden;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  transition: all var(--transition-time) ease-in-out;
  box-shadow: 0 0 1px rgba(0, 12, 32, 0.04), 0 2px 6px rgba(3, 17, 38, 0.107135);
}
.groups-group-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groups-group-head-icon {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.groups-group-head-icon img {
  object-fit: cover;
  max-width: 75%;
  max-height: 75%;
}
.groups-group-head-content {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  padding: 0 1rem;
}
.groups-group-head-content-title {
  height: 50%;
  font-size: 1.1rem;
  line-height: 1.25rem;
  padding: 0.4rem 0;
}
.groups-group-head-content-field {
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0.2rem 0;
}
.groups-group-head-content-department {
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #505050;
}
.groups-group-head-add {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.groups-group-body {
  font-size: 0.875rem;
  padding: 0.5rem 0.3rem;
}
.groups-group-body-actions {
  margin: 0.65rem 0;
}
.groups-group-body-actions button {
  border: 0;
  outline: 0;
  border: 1px solid #0f6fff;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: all var(--transition-time) ease-in-out;
}
.groups-group:hover {
  box-shadow: 0 0 1px rgba(0, 20, 32, 0.4), 0 2px 6px rgba(3, 25, 38, 0.2);
}
.groups-add-users {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.groups-add-users-box {
  background-color: var(--bgcolor);
  width: 50%;
  height: 75%;
  border-radius: 8px;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 880px) {
  .groups-add-users-box {
    width: 75%;
  }
}
.groups-add-users-head {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.groups-add-users-head-close {
  border: 0;
  outline: 0;
  border-radius: 500px;
  padding: 0.35rem;
  margin: 0.5rem 1rem;
  background: transparent;
  transition: all var(--transition-time) ease-in-out;
}
.groups-add-users-head-close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.groups-add-users-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column;
  padding: 0 0.5rem;
}
.groups-add-users-body form {
  position: relative;
}
.groups-add-users-form {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}
.groups-add-users-form label {
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.groups-add-users-form label .material-icons {
  transform: translateX(2rem);
  font-size: 1.25rem;
}
.groups-add-users-form input {
  width: 90%;
  padding: 0.5rem 0.25rem 0.5rem 2.75rem;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 500px;
  position: relative;
}
.groups-add-users-form input::before {
  content: "o";
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.groups-add-users-form button {
  border-radius: 500px;
  background-color: rgba(0, 0, 0, 0.075);
  padding: 0.5rem;
}
.groups-add-users-people {
  width: 100%;
  position: absolute;
  top: 8rem;
  left: 0;
  height: calc(78vh - 9rem);
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
}
.groups-add-users-person {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
}
.groups-add-users-person:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.groups-add-users-person-select {
  margin: 0 1rem 0 0.5rem;
}
.groups-add-users-person-image {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.groups-add-users-person-image img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 500px;
}
.groups-add-users-person-content {
  width: calc(100% - 3.5rem);
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  user-select: none;
}
.groups-add-users-buttons {
  width: 50vw;
  height: 4rem;
  position: absolute;
  bottom: 0;
  left: 25vw;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
  overflow: hidden;
  box-shadow: 0px -5px 15px -3px rgba(0, 0, 0, 0.1);
}
.groups-add-users-buttons button {
  border: 0;
  outline: 0;
  background-color: #0f6fff;
  border: 1px solid #0f6fff;
  color: #ffffff;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: all var(--transition-time) ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.groups-add-users-buttons button:hover {
  background-color: #287bf7;
}
@media (max-width: 880px) {
  .groups-add-users-buttons {
    width: 75vw;
    left: 0;
  }
}
.groups-btn {
  background-color: #0f6fff;
  color: #f0f0f0;
}
.groups-btn:hover {
  background-color: #0a6cff;
}
.groups-btn-outline {
  background-color: #f0f0f0;
  color: #0f6fff;
}
.groups-btn-outline:hover {
  background-color: #0a6cff;
  color: #f0f0f0;
}
.groups a {
  text-decoration: none;
  color: inherit;
}

.add-group {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-group-box {
  background-color: var(--bgcolor);
  width: 60%;
  min-height: 50%;
  max-height: 95%;
  border-radius: 8px;
}
.add-group-head {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.75rem;
}
.add-group-head-close {
  border: 0;
  outline: 0;
  border-radius: 500px;
  padding: 0.35rem;
  margin: 0.5rem 1rem;
  background: transparent;
  transition: all var(--transition-time) ease-in-out;
}
.add-group-head-close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.add-group-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.add-group-body button {
  border: 0;
  outline: 0;
  border: 1px solid #0f6fff;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  resize: none;
  transition: all var(--transition-time) ease-in-out;
}
.add-group-body label {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.add-group-body input,
.add-group-body textarea,
.add-group-body select {
  width: 75%;
  border: 0;
  outline: 2px solid transparent;
  margin: 0 0.5rem;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  resize: none;
  background-color: rgba(0, 0, 0, 0.05);
}
.add-group-body input::placeholder,
.add-group-body textarea::placeholder,
.add-group-body select::placeholder {
  font-size: 0.875rem;
}
.add-group-body input:active, .add-group-body input:focus,
.add-group-body textarea:active,
.add-group-body textarea:focus,
.add-group-body select:active,
.add-group-body select:focus {
  outline: 2px solid rgba(0, 0, 0, 0.04);
}
.add-group-form {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: column;
}
.add-group-form-group {
  width: 100%;
  margin: 0.6rem 0;
  display: flex;
}
.add-group-form-group:last-child {
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
.add-group-btn {
  background-color: #0f6fff;
  color: #f0f0f0;
}
.add-group-btn:hover {
  background-color: #0a6cff;
}
.add-group-btn-outline {
  background-color: #f0f0f0;
  color: #0f6fff;
}
.add-group-btn-outline:hover {
  background-color: #0a6cff;
  color: #f0f0f0;
}

.material-icons {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
}

/*# sourceMappingURL=groups.css.map */
