.write-wrapper{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    height: auto;

}
.write{
    height: auto;
}
.write-desc{
    height: auto;
}
.write-container{
    height: auto;
}
.write-desc>label>img{
    height:50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: inherit !important;
    margin-right: 20px;
    
}
.write-desc>label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}
.write-desc>textarea{
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    resize:none;
    width: calc(100%);
    height: 100px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
   
}

.write-desc>textarea:focus{
    outline: none;

    border: none;
}

.media-group>input{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.write-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-group>button{
    border: none;
    color: white;
    padding: 10px 30px;
    background-color: #2374e1;
}

.media-show>img{
    height: 300px;
    max-width: 100%;
    object-fit: cover;
}
.media-show{
    display: flex;
    justify-content: center;
    align-items: center;
}