.Navbar{
   
    border-radius: 10px;
    /* overflow: hidden; */
    height: 10%;
    width: 100%;
    position: relative;
}
.Navbaractive{
    
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(200%) blur(1.875rem);
}
.Navbar-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.naviagtion-humburger{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.Navbar-navigation{
    display: flex;

}
.navigation-group{
    display: flex;
    font-size: 20px;
    
}
.naviagtion-home{
    cursor: pointer;
}
.navigation-group:last-child{
    display: flex;
    padding-left: 30px;
    
}
.navigation-homecontente{
    padding-left: 10px;
}

.navbar-input{
    position: relative;
}
.navbar-input>label{
    position: absolute;
    top:24%;
    left: 8.3%;
}
.navbar-input>input{
    outline: none;
    border: 3px solid rgb(0, 68, 255);
    border-radius: 10px;
    padding: 8px 10px;
    padding-left: 20px;
    transition: all var(--transition-time) ease-in-out;
}
.navbar-input>input:active,.navbar-input>input:focus{
    border: 3px solid rgb(0, 68, 200);
}
.Navbar-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-user__icons{
    padding-left: 10px;
    padding-right: 10px;
   
}
.navbar-user__icons>i{
    position: inherit !important;
    font-size: 20px;
}