@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100&display=swap');

.Sidebar{
    height: 100vh;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}

.Sidebar-container{
    background-color: rgb(21, 21, 29);
    height: 95vh;
    width: 90%;
    border-radius: 25px;
    color: #fff;


}

.Sidebar-ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-inline-start:0 !important ;

}

.Sidebar-li{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.Sidebar-logo-1{
   padding-top: 20px;
}
.Sidebar-logo>img{
    width: 80%;
    
}
.Sidebar-profile>img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.profile{
    padding-top: 40px;
    width: 100%;
}
.Sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sidebar-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sidebar-profile-content{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.Sidebar-content{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    font-size: 20px;
    
}
.logo-group{
    width: 80%;
}
.profile-group{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.Sidebar-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-group:hover{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    cursor: pointer;
}
.Sidebar-profile>i{
    font-size: 30px;
    
}



.dropdown{
    visibility: hidden;
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-inline-start:0 !important ;
    width: 100%;
    padding-top: 5px;
    transition: all ease-in-out .3s;
}
.dropdown-active{
    opacity: 1;
    display: flex;
    visibility:visible;

    flex-direction: column;
    align-items: center;
    padding-inline-start:0 !important ;
    width: 100%;
    padding-top: 5px;
    transition: all ease-in-out .3s;
}
.dropdownItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.dropdown-Content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}
.dropdownItem:hover{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    cursor: pointer;
}