@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100&display=swap');

.Sidebar{
    height: 100vh;
    /* font-family: 'Cormorant Garamond', serif; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}
@media (max-width:1200px){
    .Sidebar{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

.Sidebar-container{
    background-color: #006a9f;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    height: 95vh;
    width: 90%;
    border-radius: 25px;
    color: #fff;
}

.Sidebar-ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-inline-start:0 !important ;

}

.Sidebar-li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.Sidebar-logo-1{
   padding-top: 20px;
   font-size: 1.25rem;
}
.Sidebar-logo>img{
    width: 80%;
}
.Sidebar-profile>img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.profile{
    padding-top: 20px;
    width: 100%;
}
.Sidebar-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Sidebar-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sidebar-profile-content{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    font-weight: 400;
}
.Sidebar-content{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
}
.logo-group{
    width: 80%;
}
.profile-group{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.15s ease-in-out;
}
.Sidebar-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-group:hover{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    cursor: pointer;
}
.Sidebar-profile>i{
    font-size: 24px;
}
ul{
    margin-top: 0;
    margin-bottom: 0;
}
.dropdown{
    width: 100%;
    opacity: 1;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-inline-start:0 !important ;
    width: 100%;
    padding-top: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.dropdownItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80% !important;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.dropdown-Content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.dropdownItem:hover{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    cursor: pointer;
}
a,a:hover,a:active{
    color: inherit;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}